
@{
    ViewData["Title"] = "Insurance Premium Calculator";
}

<div class="text-center">
    <div class="text-left">
        <form>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="txtName">Name</label>
                    <input class="form-control" type="text" id="txtName" placeholder="Provide your name" required />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="txtDOB">Date of birth</label>
                    <input class="form-control" type="date" id="txtDOB" placeholder="Provide your date of birth in dd/MM/yyyy format" required />
                    <small aria-hidden="true" id="lblDOBError" class="text-hide">Age must be between 1yr to 150yr, please try again</small>
                </div>
                <div class="form-group col-md-5">
                    <label for="txtAge">Age</label>
                    <input aria-readonly="true" class="form-control triggerCalculation" type="number" id="txtAge" min="1" max="150" placeholder="Provide your age" required disabled />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="txtDeathSumInsured">Death - Sum Insured</label>
                    <input class="form-control triggerCalculation" type="number" id="txtDeathSumInsured" min="1"                           
                           oninput="validity.valid||(value=value.replace(/\D+/g, ''));"
                           placeholder="Provide death sum insured" required />
                </div>
                <div class="form-group col-md-5">
                    <label for="ddlOccupation">Occupation</label>
                    <select class="form-control triggerCalculation" id="ddlOccupation"></select>
                    <span id="spOccupationLoading"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10 h3">
                    Premium Calculation <span id="txtPremium">-</span>
                </div>
            </div>
        </form>
    </div>
</div>